name: Finding Collatz Conjectural Counterexamples
on:
  schedule:
   - cron: '*/5 * * * *'
  workflow_dispatch:
    inputs:
      numFiles:
        description: 'Number of calculations'
        required: false
        default: '100000'
        type: string

run-name: Finding Collatz Conjectural Counterexamples ( ${{ github.event.inputs.numFiles || '100000' }} )

concurrency:
  group: my-workflow-group

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '23.x'
      - name: Run script
        run: node script.js ${{ github.event.inputs.numFiles || '100000' }}
